<div class="home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
              <li class="nav-item" *ngIf="authenticated">
                  <a class="nav-link" routerLink="/clients">
                    All Clients
                  </a>
                </li>
            <li class="nav-item"  *ngIf="authenticated">
              <a class="nav-link" routerLink="/policies">
                Policies by Client
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>